<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<!-- 컬렉션일경우(ex리스트) -->
<!-- {{#list}} -->
<!-- {{/list}} -->
<body>
<h1>#문법 : 조건문 혹은 반복문</h1>
<hr>
{{members}}
<hr>
{{#members}}
	<h2>{{id}}</h2>
	<h2>{{username}}</h2>
	<h2>{{phone}}</h2>
{{/members}}
<hr/>

<!-- 반전 ^를 붙이면!가 된다.-->
{{user}}
<hr/>
{{#user}}
	<h2>유저가 있습니다.</h2>
{{/user}}

<hr/>
{{^user}}
	<h2>유저가 있습니다.</h2>
{{/user}}

 
</body>
</html>